/* You can add global styles to this file, and also import other style files */
.fberror{
    border-color:red !important;
}
.my{
    color:red;
}
.b1{
    background-color: blue !important;
}
.a1{
background-color: red ;
}
